 body {
  font-family: 'Fuzzy Bubbles', cursive;
  line-height: 2rem;
 } 

h2 {
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 3rem;
}
h5 {
  font-weight: 700;
}


.h1 {
  font-family: 'Yuji Hentaigana Akari', cursive;
  font-weight: 800;
  font-size: 1.5rem;

  
}
.navbar {
  margin-bottom: 30px;
  padding: 1.5rem 10rem;

}


.intro {
  text-align: center;
  padding: 7rem 0 20rem;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-title {
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 1.5rem;
}

.picture {
  border-radius: 100%;
  width: 50%;
}

.icons {
border-radius: 100%;
margin: 0 0.5rem;
}
.icons:hover {
  opacity: 0.7;
}



#qualifications {
  text-align: left;
  padding-bottom: 5rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;
}
.title {
  text-align: center;
}
.small-link {
  color: #393E46;
}
.small-link:hover {
  color: #00ADB5;
}

#experience {
  padding:0 5rem 15rem;
  text-align: center;
  
}



#projects {
  padding:0 5rem 15rem;
  text-align: center;
  
}
 .project-list {
   text-align: left;
 }









@media (max-width: 1080px) {

  .card {
    margin: 0 5rem;
  }

  .intro {
    padding: 1rem 0 10rem;
    margin: 0 ;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }

  .picture {
    border-radius: 100%;
    width: 50%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}