h2 {
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 3rem;
}
body {
  font-family: 'Inconsolata', monospace;
}


.h1 {
  font-family: 'Yuji Hentaigana Akari', cursive;
  font-weight: 800;
  font-size: 1.5rem;
}
.navbar {
  margin-bottom: 30px;
  padding: 1.5rem 10rem;
  
}




.intro {
  text-align: center;
  padding: 7rem 0 20rem;
}
.card.left {
  float: left;
  margin-left: 10rem;
  width: 25rem;
  text-align: left;

}
.card-title {
  font-family: 'Caveat', cursive;
  font-weight: 600;
  font-size: 1.5rem;
}




.card.right {
  float: right;
  text-align: left;
  margin-right: 150px;
  width: 25rem;
  height: 19rem;
}
.picture {
  border-radius: 100%;
  width: 15%;
}
.icons {
border-radius: 100%;
margin: 0 20px;
}
.icons:hover {
  opacity: 0.7;
}




#qualifications {
  text-align: left;
  
  padding-bottom: 50rem;
}

.row {
  display: flex;
  margin-left: 10rem;

}

.flex-child { 
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
} 